## Onboarding Impact Analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_path = "/Users/Owner/Documents/Work_transfer/CLSep/Onboarding Analysis/Onboarding Data/"

In [3]:
onboardcolumns = ['User', 'Onboard', 'Account.Created', 'Onboard.Time', 'Last.Action']
comcolumns = ['User','Type', 'Comment.Time']
colleaguescolumns = ['User', 'User2', 'Friend.Time']
grpcolumns = ['User', 'Group', 'Join.Time']

In [4]:
#Importing the four files that will be joined eventually

ob = pd.read_csv(data_path+'Onboarding Messages and Users.csv', names = onboardcolumns)
com = pd.read_csv(data_path+'Discussions Blogs.csv', names = comcolumns)
col = pd.read_csv(data_path+'Colleague Counts.csv', names = colleaguescolumns)
grp = pd.read_csv(data_path+'Groups.csv', names = grpcolumns)

In [5]:
#How many people have created an account since the onboarding process?

usercom = com.groupby('User', as_index = False).count()
usercol = col.groupby('User', as_index = False).count()
usergrp = grp.groupby('User', as_index = False).count()

In [6]:
usercom = usercom.drop('Comment.Time',axis = 1)
usercom.columns = ['User', 'Comments']
usercol = usercol.drop('User2', axis = 1)
usercol.columns = ['User', 'Colleagues']
usergrp = usergrp.drop('Join.Time', axis  = 1)
usergrp.columns = ['User', 'Groups']

In [7]:
users = pd.merge(ob, usercom, how = 'outer')
users = pd.merge(users, usercol, how = 'outer')
users = pd.merge(users, usergrp, how = 'outer')

In [8]:
users.head()
onboarded = users[users['Onboard'] == 'true']

In [9]:
ob.count()

User               5416
Onboard            5416
Account.Created    5416
Onboard.Time       5416
Last.Action        5416
dtype: int64

In [10]:
onboarded = onboarded.fillna(0)
onboarded.tail()

,User,Onboard,Account.Created,Onboard.Time,Last.Action,Comments,Colleagues,Groups
5391,19879834,true,2016-03-18,2016-10-28,2016-03-18,0,0,3
5395,23814834,true,2016-10-28,2016-10-28,2016-10-28,0,0,1
5400,834686,true,2013-07-29,2016-10-28,2016-09-16,1,64,34
5403,6188649,true,2014-09-30,2016-10-28,2016-06-14,0,3,5
5405,4665274,true,2014-05-09,2016-10-28,2016-10-28,0,16,4

In [11]:
onboardedoncreation = onboarded[onboarded['Account.Created'] >= '2016-10-18']

In [12]:
onboardedoncreation.describe()

                  User    Comments  Colleagues      Groups
count       297.000000  297.000000  297.000000  297.000000
mean   23682491.006734    0.013468    0.373737    1.646465
std       65591.156446    0.115462    0.968272    1.141773
min    23534414.000000    0.000000    0.000000    0.000000
25%    23630767.000000    0.000000    0.000000    1.000000
50%    23673019.000000    0.000000    0.000000    1.000000
75%    23728192.000000    0.000000    0.000000    2.000000
max    23814834.000000    1.000000    6.000000    7.000000

In [13]:
notonboarded = users[users['Onboard'] == 'passed']
notonboarded = notonboarded.fillna(0)
notonboardedoncreation = notonboarded[notonboarded['Account.Created'] >= '2016-10-18']

In [14]:
notonboardedoncreation.describe()

                  User    Comments  Colleagues      Groups
count       134.000000  134.000000  134.000000  134.000000
mean   23681587.395522    0.029851    0.402985    1.634328
std       70480.002051    0.272562    1.343989    1.259795
min    23533414.000000    0.000000    0.000000    0.000000
25%    23631322.250000    0.000000    0.000000    1.000000
50%    23670245.500000    0.000000    0.000000    1.000000
75%    23740584.500000    0.000000    0.000000    2.000000
max    23815270.000000    3.000000    9.000000   10.000000

From averages, it looks like there hasn't been an impact on actual usage of onboarding process for people who create their account. Possible reasons for this is that maybe people who skip the onboarding process don't feel it necessary to be walked through the process.

Also outliers. This is just a really quick look, and doesn't mean anything. Additionally, sample sizes are different

In [15]:
notonboardedoncreation = notonboardedoncreation.reset_index()

In [16]:
onboardedoncreation = onboardedoncreation.reset_index()
notonboardedoncreat = notonboardedoncreation.reset_index()

In [17]:
#Visualizing how people who have joined since onboarding was implemented behave
#There really isn't anything groundbreaking we can show here to be honest
data = [onboardedoncreation['Groups'], notonboardedoncreation['Groups'],
       onboardedoncreation['Comments'], notonboardedoncreation['Comments'],
       onboardedoncreation['Colleagues'], notonboardedoncreation['Colleagues']]



xaxes = ['Groups','Groups', 'Comments', 'Comments', 'Colleagues', 'Colleagues']
yaxes = ['Frequency','Frequency', 'Frequency','Frequency','Frequency','Frequency']
titles = ['Groups Joined Users Onboarded','Groups Joined Users Not Onboarded',
         'Comments  Users Onboarded','Comments  Users Not Onboarded',
         'Colleagues Added Users Onboarded','Colleagues Added Users Not Onboarded'] 

f,a = plt.subplots(3,2)
a = a.ravel()
for idx,ax in enumerate(a):
    ax.hist(data[idx])
    ax.set_title(titles[idx])
    ax.set_xlabel(xaxes[idx])
    ax.set_ylabel(yaxes[idx])
plt.tight_layout()
plt.show()

In [18]:
users = users.fillna(0)

In [19]:
def zubat(x):
        if type(x) == str:
            return 2
        else:
            return x

In [20]:
users['Onboard'][users['Onboard'] == 'passed'] = 0
users['Onboard'][users['Onboard'] == 'true'] = 1
users['Onboard'] = users['Onboard'].apply(zubat)

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [21]:
#Only 5416 people have been exposed to the onboarding process. Kind of throws off our numbers a bit

In [22]:
users = users[users['Account.Created'] != 0]
users.describe()

                  User      Onboard     Comments   Colleagues       Groups
count      5416.000000  5416.000000  5416.000000  5416.000000  5416.000000
mean   12459925.707164     1.292836     1.715473    11.140879     6.722120
std     8794428.035131     0.846432     9.816926    37.098107    10.183658
min           6.000000     0.000000     0.000000     0.000000     0.000000
25%     4320210.000000     0.000000     0.000000     0.000000     1.000000
50%    12460378.000000     2.000000     0.000000     2.000000     3.000000
75%    21422112.750000     2.000000     0.000000    10.000000     8.000000
max    23815270.000000     2.000000   324.000000  1176.000000   140.000000

In [23]:
def separator(x):
    if x >= '2016-10-18':
        return 1
    else:
        return 0

In [24]:
users['CreateBeforeOnboarding'] = users['Account.Created'].apply(separator)

In [25]:
users.describe()

,User,Onboard,Comments,Colleagues,Groups,CreateBeforeOnboarding
count,5416.000000,5416.000000,5416.000000,5416.000000,5416.000000,5416.000000
mean,12459925.707164,1.292836,1.715473,11.140879,6.722120,0.144202
std,8794428.035131,0.846432,9.816926,37.098107,10.183658,0.351327
min,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4320210.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,12460378.000000,2.000000,0.000000,2.000000,3.000000,0.000000
75%,21422112.750000,2.000000,0.000000,10.000000,8.000000,0.000000
max,23815270.000000,2.000000,324.000000,1176.000000,140.000000,1.000000

In [26]:
users0 = users[users['Onboard'] == 0]
users1 = users[users['Onboard'] == 1]
users2 = users[users['Onboard'] == 2]

In [27]:
from sklearn import linear_model

In [28]:
u0_x = users.drop(['User', 'Onboard', 'Onboard.Time', 'Last.Action', 'Account.Created'], axis = 1)
u0_y = users['Onboard']

clf0 = linear_model.LinearRegression()
clf0.fit(u0_x, u0_y)
print (clf0.coef_)

[-0.00042583 -0.0001708  -0.00212614 -0.03489531]

In [29]:
regression_frame = users

In [30]:
regression_frame['Onboard*Create'] = regression_frame['Onboard']*regression_frame['CreateBeforeOnboarding']

In [31]:
def interactioner(x):
    return x*regression_frame['CreateBeforeOnboarding']

regression_frame['Comments*Create'] = regression_frame['Comments']*regression_frame['CreateBeforeOnboarding']
regression_frame['Colleagues*Create'] = regression_frame['Colleagues']*regression_frame['CreateBeforeOnboarding']
regression_frame['Groups*Create'] = regression_frame['Groups']*regression_frame['CreateBeforeOnboarding']

In [32]:
regression_frame.head()

,User,Onboard,Account.Created,Onboard.Time,Last.Action,Comments,Colleagues,Groups,CreateBeforeOnboarding,Onboard*Create,Comments*Create,Colleagues*Create,Groups*Create
0,2839,1,2009-05-20,2016-10-18,2016-09-19,4,51,17,0,0,0,0,0
1,12509067,2,2015-06-15,2016-10-18,2016-10-27,0,99,9,0,0,0,0,0
2,16860392,2,2015-12-02,2016-10-18,2015-12-06,0,1,0,0,0,0,0,0
3,4275280,0,2014-03-07,2016-10-19,2016-10-28,25,34,19,0,0,0,0,0
4,4275270,1,2014-03-07,2016-10-19,2016-10-26,4,35,10,0,0,0,0,0

In [33]:
create_rf = regression_frame[regression_frame['CreateBeforeOnboarding'] == 1]

In [40]:
create_rf_y_grp = create_rf['Groups']
create_rf_x_grp = create_rf['Onboard']


clf_grp = linear_model.LinearRegression()
clf_grp.fit(create_rf_x_grp.reshape(len(create_rf_x_grp), 1), create_rf_y_grp)
print (clf_grp.coef_)

[-0.13878762]

In [53]:
create_rf.head()

,User,Onboard,Account.Created,Onboard.Time,Last.Action,Comments,Colleagues,Groups,CreateBeforeOnboarding,Onboard*Create,Comments*Create,Colleagues*Create,Groups*Create
14,23595485,1,2016-10-19,2016-10-19,2016-10-19,0,0,0,1,1,0,0,0
19,23595498,1,2016-10-19,2016-10-19,2016-10-19,0,0,1,1,1,0,0,1
38,23595528,1,2016-10-19,2016-10-19,2016-10-19,0,0,0,1,1,0,0,0
45,23595339,2,2016-10-18,2016-10-19,2016-10-18,0,0,0,1,2,0,0,0
46,23595547,2,2016-10-19,2016-10-19,2016-10-19,0,0,0,1,2,0,0,0

In [42]:
import statsmodels.formula.api as sm

In [45]:
result = sm.OLS(create_rf_y_grp, create_rf_x_grp).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Groups   R-squared:                       0.467
Model:                            OLS   Adj. R-squared:                  0.467
Method:                 Least Squares   F-statistic:                     684.3
Date:                Wed, 02 Nov 2016   Prob (F-statistic):          8.80e-109
Time:                        10:02:42   Log-Likelihood:                -1351.8
No. Observations:                 781   AIC:                             2706.
Df Residuals:                     780   BIC:                             2710.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Onboard        0.8680      0.033     26.159      0.000         0.803     0.933
==============================================================================
Omnibus:                      312.255   Durbin-Watson:                   1.749
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1631.058
Skew:                           1.754   Prob(JB):                         0.00
Kurtosis:                       9.150   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [52]:
results_1 = sm.ols('Groups ~ Onboard', data = create_rf).fit()
results_2 = sm.ols('Comments ~ Onboard', data = create_rf).fit()
results_3 = sm.ols('Colleagues ~ Onboard', data = create_rf).fit()

print (results_1.summary())
print (results_2.summary())
print (results_3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Groups   R-squared:                       0.009
Model:                            OLS   Adj. R-squared:                  0.008
Method:                 Least Squares   F-statistic:                     7.201
Date:                Wed, 02 Nov 2016   Prob (F-statistic):            0.00744
Time:                        10:10:17   Log-Likelihood:                -1156.6
No. Observations:                 781   AIC:                             2317.
Df Residuals:                     779   BIC:                             2326.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept      1.7137      0.076     22.478      0.000         1.564     1.863
Onboard       -0.1388      0.052     -2.683      0.007        -0.240    -0.037
==============================================================================
Omnibus:                      457.166   Durbin-Watson:                   1.941
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4272.478
Skew:                           2.530   Prob(JB):                         0.00
Kurtosis:                      13.280   Cond. No.                         4.06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
                            OLS Regression Results
==============================================================================
Dep. Variable:               Comments   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     1.022
Date:                Wed, 02 Nov 2016   Prob (F-statistic):              0.312
Time:                        10:10:17   Log-Likelihood:                 327.06
No. Observations:                 781   AIC:                            -650.1
Df Residuals:                     779   BIC:                            -640.8
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept      0.0254      0.011      2.223      0.027         0.003     0.048
Onboard       -0.0078      0.008     -1.011      0.312        -0.023     0.007
==============================================================================
Omnibus:                     1457.091   Durbin-Watson:                   2.022
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1291251.365
Skew:                          12.972   Prob(JB):                         0.00
Kurtosis:                     200.502   Cond. No.                         4.06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
                            OLS Regression Results
==============================================================================
Dep. Variable:             Colleagues   R-squared:                       0.003
Model:                            OLS   Adj. R-squared:                  0.002
Method:                 Least Squares   F-statistic:                     2.293
Date:                Wed, 02 Nov 2016   Prob (F-statistic):              0.130
Time:                        10:10:17   Log-Likelihood:                -1135.8
No. Observations:                 781   AIC:                             2276.
Df Residuals:                     779   BIC:                             2285.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept      0.4277      0.074      5.761      0.000         0.282     0.573
Onboard       -0.0763      0.050     -1.514      0.130        -0.175     0.023
==============================================================================
Omnibus:                      745.477   Durbin-Watson:                   1.840
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            21940.861
Skew:                           4.495   Prob(JB):                         0.00
Kurtosis:                      27.360   Cond. No.                         4.06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [58]:
#Need to control for time

create_rf['Account.Created'] = pd.to_datetime(create_rf['Account.Created'], format = '%Y-%m-%d')

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [66]:
create_rf['Time'] = pd.to_datetime('2016-10-28', format = '%Y-%m-%d') - create_rf['Account.Created']

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [77]:
create_rf['Time'] = (create_rf['Time']/np.timedelta64(1,'D')).astype(int)

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [78]:
#Seems like there just isn't enough variation in the observations to do anything

results_1 = sm.ols('Groups ~ Onboard + Time', data = create_rf).fit()
results_2 = sm.ols('Comments ~ Onboard + Time', data = create_rf).fit()
results_3 = sm.ols('Colleagues ~ Onboard + Time', data = create_rf).fit()

print (results_1.summary())
print (results_2.summary())
print (results_3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Groups   R-squared:                       0.010
Model:                            OLS   Adj. R-squared:                  0.007
Method:                 Least Squares   F-statistic:                     3.745
Date:                Wed, 02 Nov 2016   Prob (F-statistic):             0.0241
Time:                        10:32:42   Log-Likelihood:                -1156.4
No. Observations:                 781   AIC:                             2319.
Df Residuals:                     778   BIC:                             2333.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept      1.7455      0.096     18.158      0.000         1.557     1.934
Onboard       -0.1381      0.052     -2.669      0.008        -0.240    -0.037
Time          -0.0068      0.013     -0.544      0.587        -0.031     0.018
==============================================================================
Omnibus:                      459.217   Durbin-Watson:                   1.941
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4291.965
Skew:                           2.546   Prob(JB):                         0.00
Kurtosis:                      13.294   Cond. No.                         15.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
                            OLS Regression Results
==============================================================================
Dep. Variable:               Comments   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                 -0.001
Method:                 Least Squares   F-statistic:                    0.5557
Date:                Wed, 02 Nov 2016   Prob (F-statistic):              0.574
Time:                        10:32:42   Log-Likelihood:                 327.10
No. Observations:                 781   AIC:                            -648.2
Df Residuals:                     778   BIC:                            -634.2
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept      0.0280      0.014      1.946      0.052        -0.000     0.056
Onboard       -0.0078      0.008     -1.003      0.316        -0.023     0.007
Time          -0.0006      0.002     -0.301      0.764        -0.004     0.003
==============================================================================
Omnibus:                     1457.612   Durbin-Watson:                   2.022
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1295562.246
Skew:                          12.980   Prob(JB):                         0.00
Kurtosis:                     200.834   Cond. No.                         15.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
                            OLS Regression Results
==============================================================================
Dep. Variable:             Colleagues   R-squared:                       0.003
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     1.244
Date:                Wed, 02 Nov 2016   Prob (F-statistic):              0.289
Time:                        10:32:42   Log-Likelihood:                -1135.7
No. Observations:                 781   AIC:                             2277.
Df Residuals:                     778   BIC:                             2291.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept      0.4023      0.094      4.298      0.000         0.219     0.586
Onboard       -0.0768      0.050     -1.523      0.128        -0.176     0.022
Time           0.0054      0.012      0.445      0.657        -0.019     0.029
==============================================================================
Omnibus:                      744.909   Durbin-Watson:                   1.840
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            21876.256
Skew:                           4.490   Prob(JB):                         0.00
Kurtosis:                      27.323   Cond. No.                         15.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Regression Analysis doesn't says that there is no real statistical difference that onboarding makes in the activity of groups colleagues and comments.

It's not really that surprising. A better metric would be to see if they feel more comfortable with the page, and maybe how often they log on. But we can't match Google Analytics data anyway